:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}
*, ::before, ::after {
  box-sizing: inherit;
}


.image_slider_css{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  flex-shrink: 0;
  flex-grow: 0;
  transition: translate 300ms ease-in-out;
}

.image_slider_button{
  all: unset;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  padding: 1rem;
  cursor: pointer;
  transition: background-color 100ms ease-in-out;
}

.image_slider_button:hover{
  background-color: rgba(0, 0, 0, 0.356);
}

.image_slider_button:hover > *{
  animation: squish 200ms ease-in-out;
}


.image_slider_button > *{
  stroke: white;
  fill: black;
  width: 2rem;
  height: 2rem;
}

@keyframes squish {
  50% {
    scale: 1.4 0.6;
  }
}